*{
	margin:0;
	padding:0;
}
img{
	vertical-align: bottom;
}
/*头部*/
.wrapper{
	width:1170px;
	margin: 0 auto;
	
}
.header_top{margin-top: 15px;}
.header_1{
	float:left;
}
.header_1 img{
	width: 255px;
	margin-left: 20px;
}
.header_2{
	float:left;
	margin-top: 6px;
	margin-left: 153px;
}
.header_2 li{
	display:inline-block;
	padding: 13px;
	font-size: 17px;
}
.header_2 a{
	color: #606060;
}
.header_3{
	float:right;
	margin-right: 29px;
}
.header_3 img{
	width:35px;
}
.content_logo {
	width:1170px;
	height:100px;
}
.content_logo ul{
	margin-left:200px;
}
.content_logo li{
	float: left;
	color:rgb(96,96,96);
	padding-left:58px;
	text-align: center;
}
.content_logo img{
	width:56px;
	height: 56px;
}
.p1{
	font-size:22px;
}
.p2{
	font-size: 10px;
}

.g-cf,.g-o,.g-w {*zoom: 1}
.g-cf:after,.g-o:after,.g-w:after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	content: '\20'
}

.g-fl {float: left}
.g-fr {float: right}






/*底部*/
.footer{
 width:1170px;
 height:250px;
 background-color: black;
 color:rgb(214,214,214);
 position:absolute;
 margin-top:50px;
}
.footer_1{
	font-size:15px;
	width:1170px;
	height:150px;
	position: relative;
	top:31px;
}
.footer_1 li{
	float:left;
	padding-left:63px;;
}
.footer_1 p{
	margin-top:6px;
}
.li2 img{
	padding-left:15px;
}
.footer_3  ul{
	margin-left:47px;
}
.footer_3 li{
	float:left;
	padding-left:14px;
}
/*产品详板块*/
.div1{
	width:723px;
	height: 300px;
	margin-left:243px;
}
.div1 p:first-child{
	font-size:60px ;
}
.div1 p:nth-child(2){
	font-size:20px ;
	margin: -5px 0 40px;
}
.div1 p:last-child{
	font-family: 宋体;
	font-size:14px;
	line-height: 25px;
}
.div3{
	width:723px;
	height: 150px;
	margin-left:243px;
	font-family: 宋体;
	font-size:14px;
	line-height: 25px;
}
.div4 p{
	font-family: Good Times;
	font-size: 50px;
}
.div4 img{
padding-right: 2px;
}
/*我们部分*/
.us_1{
	width:723px;
	height: 300px;
	margin-left:243px;
    margin-top:50px;
}
.img_us{
	margin:25px;
}
.us_1 p{
	font-size:14px;
	line-height: 28px;
}
.us_2{
	margin-top: 70px;
}
.us_3{
	width:723px;
	height: 240px;
	margin-left:243px;
}
.us_3 p:first-child{
	font-size: 30px;
	padding:25px 0;
}
.us_3 p:last-child{
	font-size:14px;
	line-height: 25px;
}
.us_4 {
	height: 400px;
	text-align: center;
}
.us_4 p{
	padding:20px 0;
}
/*服务板块*/
.service_2{
	width:500px;
	text-align: center;
	margin-left:300px;
}
.service_2 p:last-child{
	font-size:14px;
	margin-top:20px;
	line-height: 25px;
}
.service_2 p:first-child{
	margin-top:35px;
	margin-bottom: 10px;
}
.service_3{
	margin-top:60px;
	margin-bottom: 30px;
}
.service_3 a{
	text-decoration: none;
	color:black;
}
.s3{
	width:488px;
	height: 413px;
	background-color: rgb(240,240,240);
}
.s3_1{
	width:350px;
	margin-top: 50px;
	margin-left: 77px;
}
.s3_1 p{
	font-size:14px;
	line-height: 25px;
	margin:15px 0 50px 0;
}
.service_4{
	width:500px;
	text-align: center;
	margin-left:300px;
}
.service_4 p{
	font-size:14px;
	line-height: 25px;
	margin:25px 0;
}
.service_6{
	text-align: center;
	margin: 50px 0;
}
.service_6 p{
	font-size: 11px;
	margin-bottom: 20px;
}
.service_7{
	width:700px;
	margin-left: 283px;
}
.service_7 input{
	height:35px;
	width:200px;
	margin:10px 5px;
	padding-left: 5px;
	font-size:14px;
}
.service_7 textarea{
	width:640px;
	height: 94px;
	padding: 10px 0 0 10px;
	margin-left:4px;
	font-size:14px;
}
.pingjia{
	width:200px;
	height:25px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 25px;
	margin-left: 219px;
	margin-bottom: 50px;
}
/*联系我们部分*/
.contact_2{
	background: url(../img/images/images/contactus1_2.jpg) no-repeat;
	width:1170px;
	height: 802px;
	font-size:14px;
	line-height: 26px;
	color: white;
}
.contact_3{
	background: url(../img/images/images/contactus1_3.jpg) no-repeat;
	width:1170px;
	height: 802px;
}
.contact_3 p{
	font-size:14px;
	color: white;
	margin-left: 50px;
}

.contact_1{
	margin-bottom: 20px;
}
.contact_21  {
padding:0 10px;
margin-left:50px;
}
.contact_21 img{
margin-top: 200px;
padding: 0 18px;
}

.contact_22{
	margin-left: 76px;
	margin-top: 50px;
	
}
.contact_23{
	margin-left: 76px;
	margin:70px 0 70px 76px;
}
.contact_24{
	margin-left: 76px;
}
.contact_3,.contact_2{
	margin-bottom: 20px;
}

.zhuti{
	margin:0 auto;
	width:1170px;
	background-color: white;
	
}
.linian{
	width:1170px;
	margin:0 auto;
	background-color: rgb(226,226,226);

}
.linian_1{
	margin-bottom: 10px;
}
.linian_2_1 {
	width:579px;
	height:375px;
	background-color: white;
}
.linian_2_1 p{
	font-size:13px;
}
.linian_2_11{
	width:450px;
	margin-top:129px;
	margin-left: 67px;
}
.linian_2_11 h2{
	margin-bottom: 25px;
}
.linian_2_11 p{
	margin-bottom: 25px;
	line-height: 20px;
}
.linian_2_11 p:last-child{
	border-top: 2px solid rgb(226,226,226);
	width: 70px;
	padding-top: 5px;

}
.linian_2{
	margin-bottom: 10px;
}
header{
	width: 1170px;
	margin: 0 auto;
	background-color: white;
	height: 69px;
}
.main{
	width:1170px;
	height:3000px;
	background-color: rgb(242,242,242);
}
.main_container{
	width:820px;
	height:2000px;
	margin-left:190px;
}
.botoom{
	margin-top:100px;
}
